$def with (page)

<html>
<head>
  <title>pipaalarm</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <style>
    #menu {
      width: 200px;
      float: right;
      position: absolute;
    }

    .left-bar {
      border-radius: 6px 6px 6px 6px;
    }

    .right-bar {
      border-radius: 6px 6px 6px 6px;
    }

    .main {
      border: 1px solid #DDDDDD;
      border-radius: 6px 6px 6px 6px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
      padding: 9px;
    }
  </style>
</head>
<body>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="/js/bootstrap.min.js"></script>

$:page

</body>
</html>
